{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Update Admin {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="card bg-secondary shadow border-0">
          <div class="card-header bg-transparent pb-5">

            <div class="text-muted text-center mt-2 mb-1">            
              Update Admin's Account
              <br />
              {% if msg %}
                <span class="text-danger">{{ msg | safe }}</span>
              {% else %}
              <small>Fill The Form Correctly</small>
              {% endif %}
            </div>
            
          </div>
          <div class="card-body px-lg-5 py-lg-5">
            
            {% if not success %}

            {% for row in admin %}

              <form method="POST" action="{{ url_for('updateadmin') }}">

                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                    </div>
                    <input type="text" name="username" class="form-control" placeholder="Username" value={{ row.username }} required>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                    </div>
                    <input type="text" name="no_identitas" class="form-control" placeholder="Nomor Identitas" value={{ row.no_identitas }} required>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    <input type="text" name="nama" class="form-control" placeholder="Nama" value={{ row.nama }} required>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                    </div>
                    <select name="gender" class="form-control" value={{ row.gender }} required>
                      <option selected>Jenis Kelamin</option>
                      <option>P</option>
                      <option>L</option>
                    </select>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-mobile-button"></i></span>
                    </div>
                    <input type="text" name="no_hp" class="form-control" placeholder="Nomor HP" value={{ row.no_hp }} required>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input type="email" name="email" class="form-control" placeholder="Email" value={{ row.email }} required>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                    </div>
                    <input name="tanggal_lahir" placeholder="Tanggal Lahir" class="form-control" type="text" onfocus="(this.type='date')" id="date" value={{ row.tanggal_lahir }} required>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-pin-3"></i></span>
                    </div>
                    <input type="text" name="alamat" class="form-control" placeholder="Alamat" value={{ row.alamat }} required>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                    </div>
                    <input name="tanggal_masuk" placeholder="Tanggal Masuk" class="form-control" type="text" onfocus="(this.type='date')" id="date" value={{ row.tanggal_masuk }} readonly>
                  </div>
                </div>
                <!--<div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input type="password" name="password" class="form-control" placeholder="Password" required>
                  </div>
                </div>-->

                <div class="text-center">
                  <button type="submit" name="updateadmin" class="btn btn-primary my-4">Update</button>
                </div>
              </form>
              {% endfor %}
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
